.Support/Tools/PlanetUnity.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:planet="http://schema.smallplanet.com/PlanetUnity"
    targetNamespace="http://schema.smallplanet.com/PlanetUnity">

	<!-- Type declarations for custom classes -->
	<simpleType name="color">
		<annotation>
			<appinfo>cColor</appinfo>
		</annotation>
        <restriction base="string" />
    </simpleType>

	<simpleType name="vec2">
		<annotation>
			<appinfo>cVector2</appinfo>
		</annotation>
        <restriction base="string" />
    </simpleType>

	<simpleType name="vec3">
		<annotation>
			<appinfo>cVector3</appinfo>
		</annotation>
        <restriction base="string" />
    </simpleType>

	<simpleType name="vec4">
		<annotation>
			<appinfo>cVector4</appinfo>
		</annotation>
        <restriction base="string" />
    </simpleType>

	<simpleType name="rect">
		<annotation>
			<appinfo>cRect</appinfo>
		</annotation>
        <restriction base="string" />
    </simpleType>

	<simpleType name="json">
		<annotation>
			<appinfo>tJSON</appinfo>
		</annotation>
		<restriction base="string"/>
	</simpleType>

	<simpleType name="PlanetNotification">
		<annotation>
			<appinfo>TYPEDEF</appinfo>
		</annotation>
        <restriction base="string">
			<enumeration value = "UserStringInput"/>
			<enumeration value = "UserCharInput"/>
			<enumeration value = "UserInputCancelled"/>
			
			<enumeration value = "ButtonTouchDown"/>
			<enumeration value = "ButtonTouchUp"/>
			
			<enumeration value = "EventWithUnregisteredCollider"/>
			<enumeration value = "EventWithNoCollider"/>
			
			<enumeration value = "EditorFileDidChange"/>
		</restriction>
    </simpleType>
	
	<!-- Super Classes -->

	<element name="Object" type="planet:Object" />
	<complexType name="Object">
		<sequence>
			<any minOccurs="0" maxOccurs="unbounded" />
		</sequence>
		<attribute name="title" type="string" />
		<attribute name="tag" type="string" use="optional" />
		<attribute name="tag1" type="string" use="optional" />
		<attribute name="tag2" type="string" use="optional" />
		<attribute name="tag3" type="string" use="optional" />
		<attribute name="tag4" type="string" use="optional" />
		<attribute name="tag5" type="string" use="optional" />
		<attribute name="tag6" type="string" use="optional" />
	</complexType>

	<element name="GameObject" type="planet:GameObject"/>
	<complexType name="GameObject">
		<complexContent>
			<extension base="planet:Object">
				<attribute name="bounds" type="planet:rect" use="required" />
				<attribute name="hidden" type="boolean" use="optional" />
				<attribute name="lastY" type="float" use="optional" />
		        <attribute name="lastX" type="float" use="optional" />
				<attribute name="renderQueueOffset" type="int" use="optional" />
				<attribute name="clipDepth" type="boolean" use="optional" default="false" />
				<attribute name="clipStencil" type="boolean" use="optional" default="false" />
			</extension>
		</complexContent>
	</complexType>

	<!-- Ghost Entities -->

	<!-- Entities -->

	<element name="Scene" type="planet:Scene"/>
	<complexType name="Scene" >
		<complexContent>
			<extension base="planet:GameObject">
				<attribute name="adjustCamera" type="boolean" use="optional" default="true" />
				<attribute name="fps" type="int" use="optional" />
			</extension>
		</complexContent>
	</complexType>
	
	
	
	<simpleType name="ScrollDirection">
		<annotation>
			<appinfo>NAMED_ENUM</appinfo>
		</annotation>
		<restriction base="string">
			<enumeration value="horizontal" />
			<enumeration value="vertical" />
			<enumeration value="both" />
		</restriction>
	</simpleType>
	
	<element name="Scroll" type="planet:Scroll"/>
	<complexType name="Scroll">
		<complexContent>
			<extension base="planet:GameObject">
				<attribute name="contentSize" type="planet:vec2" use="optional" default="0,0" />
				
				<attribute name="bounces" type="boolean" use="optional" default="true"/>
				<attribute name="pagingEnabled" type="boolean" use="optional" />
				<attribute name="scrollEnabled" type="boolean" use="optional" default="true"/>
				<attribute name="scrollDirection" type="planet:ScrollDirection" use="optional" />
				<attribute name="directionalLockEnabled" type="boolean" use="optional" default="false"/>
			</extension>
		</complexContent>
	</complexType>
	
	<element name="Table" type="planet:Table"/>
	<complexType name="Table">
		<complexContent>
			<extension base="planet:Scroll">
			</extension>
		</complexContent>
	</complexType>
	
	<element name="Color" type="planet:Color"/>
	<complexType name="Color">
		<complexContent>
			<extension base="planet:GameObject">
				<attribute name="shader" type="string" use="optional" />
				<attribute name="color" type="planet:color" use="required" />
				<attribute name="mesh" type="string" use="optional" />
				<attribute name="anchor" type="planet:vec2" use="optional" default="0,0" />
			</extension>
		</complexContent>
	</complexType>
	
	<element name="ColorButton" type="planet:ColorButton"/>
	<complexType name="ColorButton">
		<complexContent>
			<extension base="planet:Color">
				<attribute name="touchSize" type="planet:vec2" use="optional" />
				<attribute name="touchColor" type="planet:color" use="optional" />
				<attribute name="onTouchUp" type="string" use="optional" />
				<attribute name="onTouchDown" type="string" use="optional" />
			</extension>
		</complexContent>
	</complexType>
	
	<element name="Gradient" type="planet:Gradient"/>
	<complexType name="Gradient">
		<complexContent>
			<extension base="planet:GameObject">
				<attribute name="shader" type="string" use="optional" />
				<attribute name="colorTop" type="planet:color" use="required" />
				<attribute name="colorBottom" type="planet:color" use="required" />
				<attribute name="anchor" type="planet:vec2" use="optional" default="0,0" />
			</extension>
		</complexContent>
	</complexType>

	<element name="Image" type="planet:Image"/>
	<complexType name="Image">
		<complexContent>
			<extension base="planet:GameObject">
				<attribute name="resourcePath" type="string" use="required" />
				<attribute name="shader" type="string" use="optional" />
				<attribute name="anchor" type="planet:vec2" use="optional" default="0,0" />
				<attribute name="color" type="planet:color" use="optional" />
			</extension>
		</complexContent>
	</complexType>
	
	<element name="ImageButton" type="planet:ImageButton"/>
	<complexType name="ImageButton">
		<complexContent>
			<extension base="planet:Image">
				<attribute name="normalResourcePath" type="string" use="required" />
				<attribute name="highlightedResourcePath" type="string" use="required" />
				<attribute name="touchColor" type="planet:color" use="optional" />
				<attribute name="touchSize" type="planet:vec2" use="optional" />
				<attribute name="onTouchUp" type="string" use="optional" />
				<attribute name="onTouchDown" type="string" use="optional" />
			</extension>
		</complexContent>
	</complexType>
	
	<element name="Sprite" type="planet:Sprite"/>
	<complexType name="Sprite">
		<complexContent>
			<extension base="planet:GameObject">
				<attribute name="resourcePath" type="string" use="required" />
				<attribute name="position" type="planet:vec3" use="optional" />
				<attribute name="scale" type="float" use="optional" />
			</extension>
		</complexContent>
	</complexType>
	
	<element name="Movie" type="planet:Movie"/>
	<complexType name="Movie">
		<complexContent>
			<extension base="planet:GameObject">
				<attribute name="hasAlpha" type="boolean" use="required" />
				<attribute name="looping" type="boolean" use="required" />
				<attribute name="resourcePath" type="string" use="required" />
				<attribute name="shader" type="string" use="optional" />
				<attribute name="anchor" type="planet:vec2" use="optional" default="0,0" />
				<attribute name="color" type="planet:color" use="optional" />
			</extension>
		</complexContent>
	</complexType>
	
	<simpleType name="LabelAlignment">
		<annotation>
			<appinfo>NAMED_ENUM</appinfo>
		</annotation>
        <restriction base="string">
			<enumeration value = "left"/>
			<enumeration value = "center"/>
			<enumeration value = "right"/>
		</restriction>
    </simpleType>
	
	<element name="Label" type="planet:Label" />
	<complexType name="Label">
		<complexContent>
			<extension base="planet:GameObject">
				<attribute name="shader" type="string" use="optional" />
				<attribute name="font" type="string" use="optional" />
				<attribute name="fontSize" type="int" use="optional" default="12" />
				<attribute name="alignment" type="planet:LabelAlignment" use="optional" default="center"/>
				<attribute name="textColor" type="planet:color" use="optional" default="0,0,0,1" />
				<attribute name="value" type="string" use="required" />
				<attribute name="shadowOffset" type="planet:vec2" use="optional" />
				<attribute name="shadowColor" type="planet:color" use="optional" />
			</extension>
		</complexContent>
	</complexType>
	
	<element name="LabelButton" type="planet:LabelButton" />
	<complexType name="LabelButton">
		<complexContent>
			<extension base="planet:Label">
				<attribute name="touchSize" type="planet:vec2" use="optional" />
				<attribute name="touchColor" type="planet:color" use="optional" default="1,0,0,1" />
				<attribute name="onTouchUp" type="string" use="optional" />
				<attribute name="onTouchDown" type="string" use="optional" />
			</extension>
		</complexContent>
	</complexType>
	
	<element name="Prefab" type="planet:Prefab" />
	<complexType name="Prefab">
		<complexContent>
			<extension base="planet:GameObject">
				<attribute name="name" type="string" use="required" />
			</extension>
		</complexContent>
	</complexType>
	
	
	<element name="Notification" type="planet:Notification" />
	<complexType name="Notification">
		<attribute name="name" type="string" use="required" />
	</complexType>
	
	
	<element name="Code" type="planet:Code" />
	<complexType name="Code">
		<complexContent>
			<extension base="planet:GameObject">
				<sequence>
					<element ref="planet:Notification" minOccurs="0" maxOccurs="unbounded" />
				</sequence>
				<attribute name="class" type="string" use="required" />
				<attribute name="singleton" type="boolean" use="optional" default="false" />
			</extension>
		</complexContent>
	</complexType>
	

</schema>
